---
const costruct: {
    PlayerId: string,
    Skill: number,
    PositionName: string,
    Value: number,
    TeamId: string,
    FUllName: string,
    DisplayName: string,
    TeamName: string,
    Status: string,
    IsActive: string,
    DriverTLA: string,
    DriverReference: string,
    CountryName: string,
    OverallPpints: string,
    GamedayPoints: string,
    SelectedPercentage: string,
    CaptainSelectedPercentage: string,
    OldPlayerValue: number,
    BestRaceFinished: string,
    HigestGridStart: string,
    HigestChampFinish: string,
    FastestPitstopAward: string,
    BestRaceFinishCount: number,
    HighestGridStartCount: number,
    HighestChampFinishCount: number,
    FastestPitstopAwardCount: number,
    QualifyingPoints: string,
    RacePoints: string,
    SprintPoints: string,
    NoNegativePoints: string,
    F1PlayerId: string,
    FirstName: string,
    LastName: string,
    SessionWisePoints: object[],
    AdditionalStats: {
        fastest_lap_pts: number,
        dotd_pts: number,
        overtaking_pts: number,
        q3_finishes_pts: number,
        top10_race_position_pts: number,
        top8_sprint_position_pts: number,
        total_position_pts: number,
        total_position_gained_lost: number,
        total_dnf_dq_pts: number,
        value_for_money: number
    },
    old_Value: number,
    new_value: number,
    ProjectedGamedayPoints: string,
    ProjectedNoNegativePoints: string,
    ProjectedOverallPpints: string
}[] = []
const p: {
    PlayerId: string,
    Skill: number,
    PositionName: string,
    Value: number,
    TeamId: string,
    FUllName: string,
    DisplayName: string,
    TeamName: string,
    Status: string,
    IsActive: string,
    DriverTLA: string,
    DriverReference: string,
    CountryName: string,
    OverallPpints: string,
    GamedayPoints: string,
    SelectedPercentage: string,
    CaptainSelectedPercentage: string,
    OldPlayerValue: number,
    BestRaceFinished: string,
    HigestGridStart: string,
    HigestChampFinish: string,
    FastestPitstopAward: string,
    BestRaceFinishCount: number,
    HighestGridStartCount: number,
    HighestChampFinishCount: number,
    FastestPitstopAwardCount: number,
    QualifyingPoints: string,
    RacePoints: string,
    SprintPoints: string,
    NoNegativePoints: string,
    F1PlayerId: string,
    FirstName: string,
    LastName: string,
    SessionWisePoints: object[],
    AdditionalStats: {
        fastest_lap_pts: number,
        dotd_pts: number,
        overtaking_pts: number,
        q3_finishes_pts: number,
        top10_race_position_pts: number,
        top8_sprint_position_pts: number,
        total_position_pts: number,
        total_position_gained_lost: number,
        total_dnf_dq_pts: number,
        value_for_money: number
    },
    old_Value: number,
    new_value: number,
    ProjectedGamedayPoints: string,
    ProjectedNoNegativePoints: string,
    ProjectedOverallPpints: string
}[] = []

const data =await fetch('https://fantasy.formula1.com/feeds/drivers/1_es.json')
.then((res) => res.json())
.then((data) => {
		for(let i=0; i<data.Data.Value.length; i++){
			if(data.Data.Value[i].PositionName === 'DRIVER'){
				p.push(data.Data.Value[i])
			}else if(data.Data.Value[i].PositionName === 'CONSTRUCTOR'){
				costruct.push(data.Data.Value[i])
			}
		}
})
---
<div class="flex flex-col justify-center">
<table class="table border border-slate-400">
	{
		<thead class="p-1">
			<tr>
				{
					<th>Nombre</th>
					<th>Pts media</th>
					<th>Pts dia</th>
					
				}
			</tr>
		</thead>
		<tbody class="text-center">
			{
				p.map((item) => (
					<tr id={item.TeamId}>
						<td>{item.FUllName}</td>
						<td>{item.ProjectedOverallPpints}</td>
						<td>{item.ProjectedGamedayPoints}</td>
					</tr>
				))
			}
		</tbody>
	}
</table>

<table class="border border-slate-400">
	{
		<thead>
			<tr>
				{
					<th>Nombre</th>
					<th>Pts media</th>
					<th>Pts dia</th>
				}
			</tr>
		</thead>
		<tbody class="p-4 text-center">
			{
				costruct.map((item) => (
					<tr id={item.TeamId}>
						<td>{item.FUllName}</td>
						<td>{item.ProjectedOverallPpints}</td>
						<td>{item.ProjectedGamedayPoints}</td>
					</tr>
				))
			}
		</tbody>
	}
</table>
</div>
